/* Webfont: LiberGrotesqueFamily-SmBdObl */@font-face {
    font-family: 'SemiBold';
    src: url('LiberGrotesqueFamily-SmBdObl.eot'); /* IE9 Compat Modes */
    src: url('LiberGrotesqueFamily-SmBdObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LiberGrotesqueFamily-SmBdObl.woff') format('woff'), /* Modern Browsers */
         url('LiberGrotesqueFamily-SmBdObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiberGrotesqueFamily-SmBdObl.svg#LiberGrotesqueFamily-SmBdObl') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

