/* Webfont: LiberGrotesqueFamily-ExBdObl */@font-face {
    font-family: 'ExtraBold';
    src: url('LiberGrotesqueFamily-ExBdObl.eot'); /* IE9 Compat Modes */
    src: url('LiberGrotesqueFamily-ExBdObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LiberGrotesqueFamily-ExBdObl.woff') format('woff'), /* Modern Browsers */
         url('LiberGrotesqueFamily-ExBdObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiberGrotesqueFamily-ExBdObl.svg#LiberGrotesqueFamily-ExBdObl') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

