/* Webfont: LiberGrotesqueFamily-SmLtObl */@font-face {
    font-family: 'SemiLight';
    src: url('LiberGrotesqueFamily-SmLtObl.eot'); /* IE9 Compat Modes */
    src: url('LiberGrotesqueFamily-SmLtObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LiberGrotesqueFamily-SmLtObl.woff') format('woff'), /* Modern Browsers */
         url('LiberGrotesqueFamily-SmLtObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiberGrotesqueFamily-SmLtObl.svg#LiberGrotesqueFamily-SmLtObl') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

