/* Webfont: LiberGrotesqueFamily-BdObl */@font-face {
    font-family: 'Bold';
    src: url('LiberGrotesqueFamily-BdObl.eot'); /* IE9 Compat Modes */
    src: url('LiberGrotesqueFamily-BdObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LiberGrotesqueFamily-BdObl.woff') format('woff'), /* Modern Browsers */
         url('LiberGrotesqueFamily-BdObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiberGrotesqueFamily-BdObl.svg#LiberGrotesqueFamily-BdObl') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

