/* Webfont: LiberGrotesqueFamily-NwObl */@font-face {
    font-family: 'News';
    src: url('LiberGrotesqueFamily-NwObl.eot'); /* IE9 Compat Modes */
    src: url('LiberGrotesqueFamily-NwObl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LiberGrotesqueFamily-NwObl.woff') format('woff'), /* Modern Browsers */
         url('LiberGrotesqueFamily-NwObl.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiberGrotesqueFamily-NwObl.svg#LiberGrotesqueFamily-NwObl') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

