/* Webfont: LiberGrotesqueFamily-News */@font-face {
    font-family: 'News';
    src: url('LiberGrotesqueFamily-News.eot'); /* IE9 Compat Modes */
    src: url('LiberGrotesqueFamily-News.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LiberGrotesqueFamily-News.woff') format('woff'), /* Modern Browsers */
         url('LiberGrotesqueFamily-News.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiberGrotesqueFamily-News.svg#LiberGrotesqueFamily-News') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

